.Pokemon {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    min-width: 280px;
    padding: 15px;
    cursor: pointer;
    background-color: #FFFCF2;
    border-radius: 7px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 10px;

    .pokemon-img {
        width: 150px;
        height: 150px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .pokemon-name {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #17252A;
        font-size: 20px;
    }

    p {
        color: #17252A;
        
        span {
            font-weight: 700;
        }
    }

}