@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navigation {
    background-color: #7c4008;
    color: #fff;
    padding: 10px;
}

.pokemons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FB8B24;
}